{% macro getMenu(id) %}
<div id="menu" class="hide-on-med-and-down">
    <ul>
        <a href="/index.html" {% if id==0 %}class="blue-text text-lighten-2"{% endif %}><li>About</li></a>
        <a href="/projects.html" {% if id==1 %}class="blue-text text-lighten-2"{% endif %}><li>Projects</li></a>
        <a href="/articles.html" {% if id==2 %}class="blue-text text-lighten-2"{% endif %}><li>Articles</li></a>
        <a href="/notes.html" {% if id==3 %}class="blue-text text-lighten-2"{% endif %}><li>Notes</li></a>
        <a href="/contact.html" {% if id==4 %}class="blue-text text-lighten-2"{% endif %}><li>Contact</li></a>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger hide show-on-small"><i class="material-icons">menu</i></a>
</div>
{% endmacro %}