<div id="menu" class="hide-on-med-and-down">
    <ul>
        <a href="/index.html" class="blue-text text-lighten-2"><li>About</li></a>
        <a href="/projects.html"><li>Projects</li></a>
        <a href="/articles.html"><li>Articles</li></a>
        <a href="/notes.html"><li>Notes</li></a>
        <a href="/contact.html"><li>Contact</li></a>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger hide show-on-small"><i class="material-icons">menu</i></a>
</div>