    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      a:hover li {
        border-bottom: solid #e0e0e0 1px;
        cursor:pointer;
      }
      a:hover span {
        border-bottom: solid #e0e0e0 1px;
        cursor:pointer;
      }
      a{
        text-decoration: none;
        color: inherit;
        cursor: auto;
        z-index:10000;
      }
      a > li{
        font-size: 2em;
      }
    #menu{
      position:fixed;
      float:left;
      top:50%;
      margin-left:-10%;
      height:100%;
      width:5%;
    }
    </style>